/*..........COMMON.........*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: white;
    color: black;
}
/*...........HEADER.......*/
.navbar{
    background: #fff;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    box-shadow: 0 1px 5px;
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.logo{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size:25px;
}
.logo-icon{
    background: #7b5dfb;
    color: white;
    border-radius: 25%;
    padding: 3px 0;
    margin-right:8px;
}    
.nav-links a{
    margin-left: 40px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.3s;
    background: #fff;
    border-radius:25px;
    padding: 5px 12px;
    cursor: pointer;
}
.nav-links a.active, .nav-links a:hover{
     background-color: #f2f1ff;
  color:#0d4ea4;
  border-radius: 6px;
  background-color:#f5f5f5 ;
}
.logo-text{
    font-size:25px;
}
/* Page Header */
.page-header {
  margin: 30px 40px 0 40px;
}
.page-header h2 {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
.page-header h2 span {
  display: inline-block;
  width: 4px;
  height: 25px;
  background-color: #6c63ff;
  border-radius: 2px;
}
/*...............Main...........*/
.main-container{
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 20px;
    padding: 40px;
}
/*................Create Task.................*/
.create-task{
    background:#fff;
    border-radius: 12px;
    padding:20px;
    box-shadow: 0 2px 5px black;
}
.create-task h2{
    margin-bottom:15px;
}
input[type="text"],
input[type="email"],
input[type="url"] {
  padding: 15px;
}
.create-task label{
    font-weight: 500;
    display: block;
    margin:auto;
}
.black-placeholder::placeholder {
  color: black;
}
input,select,textarea{
    width:100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
    font-size: 0.9rem;
}
.create-task textarea {
   resize: vertical;
    height: 100px;
    text-align:auto;
    padding-top:30px;
    margin-left:0;
    padding-left: 0;
}
.create-task textarea:hover{
  cursor: pointer;
}
input[type="range"]{
    accent-color:#0d4ea4;
}
.task-progress h4{
    text-align:center;
    font-weight: 600;
    color:#0d4ea4;
    margin-top: 5px;
}
input[type="range"]:hover{
  cursor: pointer;
}
.task-type label,.task-status label{
    display:inline-block;
    margin-right:25px;
    margin-top: 15px;
    color: black;
}
input[type="checkbox"],
input[type="radio"] {
  width: 16px;
  height: 16px;
  accent-color:#0d4ea4; 
  cursor: pointer;
}
.upload-box{
    border: 2px dashed #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 25px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
    height: 120px;
}
.upload-box:hover{
    border-color: #7b5dfb;
    background:#fafaff;
    cursor: pointer;
}
.sub-text{
    display: block;
    font-size: 0.8rem;
    color:#777;
}
.form-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.upload-box:hover{
  background-color:#e5e7eb;
}
.btn{
    padding: 20px 40px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor:pointer;
}
.primary{
    background:#0d4ea4;
    color: #fff;
}
.secondary{
    background:#e5e7eb;
    color: #333;
}
.create-task form {
  display: flex;
  flex-direction: column;
  gap:10px; 
}
.create-task input:required:invalid {
  border: 2px solid red;
}
.create-task select{
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  width: 100%;
  background-color: #fff;
}
.create-task input:focus,
.create-task select:focus {
  border-color: #6a5af9;
}
.upload-box label:hover{
    cursor: pointer;
}
.task-color {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.task-color label {
  font-weight: 500;
  color: #777;
  margin-bottom: 6px;
  
}
.task-color input[type="color"] {
  width: 100%;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  padding: 0;
  outline: none;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.task-color input[type="color"]:hover {
  border-color: #7a5cf0;
  box-shadow: 0 0 4px rgba(122, 92, 240, 0.3);
}
.input-box {
  position: relative;
  margin-bottom: 20px;
     
}
.input-box input,
.input-box select,
.input-box textarea{
  width: 100%;
 padding: 12px;
 border: 2px solid #ccc;
 border-radius: 6px;
 outline: none;
 font-size: 0.95rem;
 color:#333;
 background: transparent;
}
.input-box label {
  position: absolute;
  top: -9px;
  left: 12px;
  background: #fff;
  padding: 0 6px;
  color:#637aff;
    }
    .input-box input:focus {
      border-color: #4a3aff;
    }

    .input-box input[type="time"] {
      border: 2px solid #ccc;
    }

    .input-box input[type="time"]:focus {
      border-color: #4a3aff;
    }
    .input-box input[type="date"]:focus {
      border-color: #4a3aff;
    }
     .input-box input[type="number"]:focus {
      border-color: #4a3aff;
    }
    .input-box input[type="number"]{
         border: 2px solid #ccc;
    }
    .task-progress p,.task-color p{
      color: #777;
    }

    .input-box input[type="number"]:hover {
      cursor: pointer;
    }
    input[type="email"]:hover{
      cursor: pointer;
    }
     input[type="text"]:hover{
      cursor: pointer;
    }
     input[type="url"]:hover{
      cursor: pointer;
    }
    .input-box input[type="time"]:hover {
       cursor: pointer;
    }
    .input-box input[type="date"]:hover {
     cursor: pointer;
    }
/*.....Reset button....*/
    .reset-btn {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background:#ebebeb;
  color: #333;
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
    }
.reset-icon {
  font-size: 18px;
  margin-bottom: 2px;
}
/*............Active task............*/
.active-tasks {
    background: #fff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.tasks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.filters button {
    border: 1px solid #ddd;
    background: #fff;
    border-radius:25px;
    padding: 5px 12px;
    margin-left: 20px;
    cursor: pointer;
}
.filters button.active {
    background: #0d4ea4;
    color:white;
   border:none;
}
.filters button:hover{
    color:white;
    background-color:#0d4ea4;
}
.tasks-grid{
    display: grid;
    grid-template-columns: repeat(2,minmax(250px, 2fr));
    gap: 20px;
    margin-top: 5px;
}
.tasks-grid:hover{
    cursor: pointer;
}
.task-card{
    background:#fafafa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(144, 131, 131, 0.212);
    transition: 0.3s;
    margin-top: 20px;
}
.task-card:hover{
    transform: translateY(-3px);
}
.tags{
    padding: 4px 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between; 
}
.tag.medium {
  color: #f7a400;
  background: #fff3da;
  padding: 3px 8px;
  border-radius:25px;
  border: none; 
}
.tag.high{
    color : #ff5b5b;
    background: #ffe6e6;
    padding: 3px 8px;
  border-radius:25px;
  border: none;
}
.tag.low{
    color :rgb(18, 153, 18);;
    background:rgb(112, 243, 177);
    padding: 3px 8px;
      border-radius:25px;
  border: none;
}
.btn1{
    color : #ff5b5b;
    background: #ffe6e6;
    padding: 3px 8px;
  border-radius:25px;
  border: none;
  font-weight: bold;
}
.btn2{
    color :#f7a400;;
    background:#fff3da;
    padding: 3px 8px;
    border-radius:25px;
  border: none;
   font-weight: bold;
}
.btn3{
     color :rgb(18, 153, 18);;
    background:rgb(112, 243, 177);
    padding: 3px 8px;
  border-radius:25px;
  border: none;
   font-weight: bold;
}
.status.in-progress{
    color:black;
    margin-left: 2px;
}
.status.pending{
    color:black;
    margin-left: 2px;
}
.inprogress{
    color:blue;
}
.pending{
    color: orange;
}
.completed{
    color: rgb(8, 145, 8);
}
.active-tasks p{
  color: #777;
  line-height: 1.5;
 
}
.status.in-progress,.status.pending{
  font-size: 15px;
}
.tags span{
  font-size: 20px;
}
.optimization{
  margin-top: 5px;
}
/*........Footer.........*/
footer{
    background:#fff;
    margin-top: 40px;
    padding: 40px;
    border-top: 1px solid #eee;
}
.footer-columns{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    gap: 20px;
}
footer h3,footer h4{
    color:#333;
}
footer ul{
    list-style: none;
    margin-top: 20px;

}
footer li{
    margin-bottom: 10px;
    color:#555;

}
.footer-bottom{
    text-align: center;
    font-size: 0.9rem;
    color:#777;
     border-top: 2px solid #eee;

}
.footer-bottom p{
 margin-top: 30px;
 margin-bottom: 30px;
}
.footer-columns p{
  margin-top:20px;
  color:#777 ;
}

/*.........Responsive..........*/
@media (max-width:900px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }
}
@media (max-width: 500px){
    .tasks-grid{
        grid-template-columns:auto;
    }
}
@media (max-width:900px) {
    textarea{
        width: auto;
        padding: 20px;
    }
}
#menu-toggle {
  display: none;
}
.menu-icon {
  display: none;
  font-size: 34px;
  cursor: pointer;
  color: #333;
}
@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }
  .menu-icon {
    display: block;
    background-color:#f5f5f5;
    border-radius: 25%;
    padding:0 10px;
   margin-left:auto;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    margin-top: 10px;
  }
  .nav-links a {
    padding: 12px;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid #f3f3f3;
  }
  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }
}
@media (max-width: 768px){
    .filters{
        padding-top: 20px;
    }
}
