/*..........COMMON.........*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: white;
    color: black;
}
/*...........HEADER.......*/
.navbar{
    background: whitesmoke;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}
.logo-icon{
    background: #7b5dfb;
    color: white;
    border-radius: 50%;
    padding: 6px 10px;
    margin-right: 8px;
}
.nav-links a{
    margin-left: 20px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.3s;
}
.nav-links a.active, .nav-links a:hover{
    color: blue;

}

